<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  <link rel="stylesheet" href="/styles/components/header.css" />
</head>
<header>
  <div id="header-placeholder-height"></div>
  <div id="header-wrapper" class="header-wrapper" data-lang="vi">
    <div class="header-container">
      <div class="logo">
        <img src="/images/logo.png" alt="SportSpot Logo" />
        <span class="sport">Sport</span><span class="spot">Spot</span>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search thông tin cần tìm" />
        <button type="submit">
          <img src="/images/header/iconSearch.png" alt="Search" />
        </button>
      </div>
      <div class="language">
        <button id="language-btn">
          <img
            id="language-img"
            src="/images/header/VietNamFlag.png"
            alt="Vietnamese"
          />
        </button>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a id="home-link" href="/">
            <img
              src="/images/header/home-icon.png"
              alt="Home"
              class="home-icon"
            />
            <span class="home-text">Trang chủ</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="list_court">Danh sách sân</a>
          <div class="dropdown-content">
            <a href="/list_court?filter=bong-da" data-field="football">Bóng đá</a>
            <a href="/list_court?filter=bong-ro" data-field="basketball">Bóng rổ</a>
            <a href="/list_court?filter=cau-long" data-field="badminton">Cầu lông</a>
            <a href="/list_court?filter=bong-chuyen" data-field="volleyball">Bóng chuyền</a>
            <a href="/list_court?filter=tennis" data-field="tennis">Tennis</a>
            <a href="/list_court?filter=pickleball" data-field="pickleball">Pickleball</a>
          </div>
        </li>
        <li><a id="news-link" href="news">Tin tức</a></li>
        <li><a id="policy-link" href="policy">Chính sách</a></li>
        <li>
          <a
            id="owner-link"
            href="owner"
            style="pointer-events: none; opacity: 0.5"
            >Dành cho chủ sân</a
          >
        </li>
        <li>
          <a
            id="tournament-link"
            href="tournament"
            style="pointer-events: none; opacity: 0.5; margin-right: 70px;"
            >Giải đấu</a
          >
        </li>
        <li
          class="order-status"
          style="
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <a
            href="/profile?section=bookings"
            style="display: flex; align-items: center; gap: 4px"
          >
            <img src="/images/header/calendar.png" alt="Order Status" />
            <span>Trạng thái đơn</span>
          </a>
        </li>
        <li
          class="user-profile"
          style="
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -10px;
          "
        >
          <a
            href="/profile"
            style="display: flex; align-items: center; gap: 4px"
          >
            <img src="/images/header/avatar.png" alt="User Avatar" />
            <span class="username">Nguyễn Văn A</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
