* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Pro", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
    color:#fff
}

.forget-password-box {
    position: relative;
    width: 685px;
    height: 535px;
    background: #1e1e1e;
    border-radius: 111px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.forget-password-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 55px;
    line-height: 61.12px;
    font-weight: 400;
    margin-left: 158px;
    margin-right: 158px;
    margin-top: -50px;
}

.method-text {
    font-size: 30px;
    line-height: 33.34px;
    margin-top: 146px;
}

.button-container {
    display: flex;               
    justify-content: center;        
    gap: 11px;  
    margin-top: 102px;                     
}

.custom-button {
    width: 298px;
    height: 67px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 40px;
    line-height: 55.57px;
    font-weight: 400;
    background: #fff;
    color: #000;
    transition: background-color 0.3s ease;
}   

.fa-solid {
    font-size: 30px;
    margin-right: 5px;
}

.custom-button:hover {
    background-color: #15096f;
    color: #fff;
}

.text-box {
    position: relative;
    width: 525px;
    height: 76px;
    border-radius: 30px;
    margin-top: 136px; 
    margin-bottom: 63px;
}

.text-box input{
    width: 100%;
    height: 76px;
    font-size: 40px;
    line-height: 44.45px;
    font-weight: 400;
    color: #000;
    border-radius: 30px; 
    box-sizing: border-box;
    padding-left: 37px;
}

.text-box input::placeholder {
    font-size: 40px;
    line-height: 44.45px;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
}

.confirm-button-container {
    display: flex;               
    justify-content: center;        
}

.confirm-button {
    width: 233px;
    height: 75px;
    border-radius: 30px;
    background: #15096f;
    color: #fff;
    font-size: 42.04px;
    line-height: 46.72px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background: #fff;
    color: #000;
}
