* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Pro", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
    color:#fff
}

.forget-password-box {
    position: relative;
    width: 685px;
    height: 535px;
    background: #1e1e1e;
    border-radius: 111px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

h2 {
    font-size: 55px;
    line-height: 61.12px;
    font-weight: 400;
    margin-bottom: 146px;
    margin-left: 158px;
    margin-right: 158px;
    margin-top: -50px;
}

.method-text {
    font-size: 30px;
    line-height: 33.34px;
}

.button-container {
    display: flex;               
    justify-content: center;        
    gap: 11px;  
    margin-top: 102px;                     
}

.custom-button {
    width: 298px;
    height: 67px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 40px;
    line-height: 55.57px;
    font-weight: 400;
    background: #fff;
    color: #000;
}

.fa-solid {
    font-size: 30px;
    margin-right: 5px;
}

.custom-button:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

