body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.article-container {
    max-width: 1310px;
    background-color: #ffffff;

}

.article-header {
    position: relative;
    margin-bottom: 20px;
}

.article-header img {
    width: 100%;
    max-width: 1310px;
    height: 480px;
    object-fit: cover;
    border-radius: 8px;
}

.article-header h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 32px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
}

.article-info {
    margin-bottom: 20px;
}

.sub-images {
    display: flex;
    gap: 50px;
}

.sub-images img {
    width: 525px;
    height: 760px;
    object-fit: cover;
    border-radius: 8px;
}

.category {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 35.7px;
    color: #FF5050;
    padding-left: 100px;
}


.article-info p {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 35.7px;
    color: #666;
}

.article-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #333;
    line-height: 1.6;
    padding-left: 100px;
    padding-right: 70px;
}

.article-content p {
    margin: 20px 0;
}