<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SportSpot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link href="styles/pages/forget_password_styles.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div id="header-placeholder"></div>
    <div class="forget-password-container">
        <div class="forget-password-box">
            <h2>Quên mật khẩu?</h2>

            <div class="method-text">
                <p>Chọn phương thức nhận mã</p>
            </div>

            <div class="button-container">
                <button
                    class="custom-button"
                    onclick="location.href='/forget_password_email'"
                >
                    <span class="fa-solid fa-user"></span>Email
                </button>
                <button
                    class="custom-button"
                    onclick="location.href='/forget_password_phone'"
                >
                    <span class="fa-solid fa-phone"></span>Số điện thoại
                </button>
            </div>
        </div>
    </div>
    <div id="footer-placeholder"></div>
    <script src="/scripts/components/header.js"></script>
  </body>
</html>
