<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SportSpot</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles/pages/index.css">
    <script defer src="/scripts/components/header.js"></script>
    <script defer src="/scripts/components/sports-filter.js"></script>
</head>
<body>
    <div id="header-placeholder" style="height: 0;"></div>

    <section id="search-section">
      <div class="image-container">
        <img src="/images/soccer-field.png" alt="Soccer Field" />
        <div class="description-container">
          <div class="logo-container">
            <span class="sport">Sport</span>
            <span class="spot">Spot</span>
          </div>

          <div class="mota">
            Hệ thống tìm kiếm, quản lý<br />Đặt sân trực tuyến nhanh chóng, tiện
            lợi
          </div>
        </div>
      </div>

      <div class="search-container">
        <h1>Đặt sân ngay!</h1>
        <p>Công cụ hỗ trợ tìm kiếm sân nhanh chóng</p>
        <div class="search-bar-2">
          <select name="loai-san">
            <option value="">Chọn loại sân</option>
            <option value="bong-da">Bóng đá</option>
            <option value="bong-ro">Bóng rổ</option>
          </select>
          <select name="tinh-thanh">
            <option value="">Chọn tỉnh/thành</option>
            <option value="hcm">Hồ Chí Minh</option>
            <option value="hn">Hà Nội</option>
          </select>
          <select name="khu-vuc">
            <option value="">Chọn khu vực</option>
          </select>
          <button type="submit">Tìm kiếm</button>
        </div>
      </div>
    </section>

    <section id="benefits-section">
      <div class="benefit-item-1">
        <img src="/images/iconStadium.png" alt="Tìm kiếm vị trí sân" />
        <h3>Tìm kiếm vị trí sân</h3>
        <p>
          Thông tin sân đầy đủ, phong phú, liên tục cập nhật, giúp bạn dễ dàng
          tìm kiếm theo khu vực
        </p>
      </div>
      <div class="benefit-item-2">
        <img src="/images/iconCalendar.png" alt="Đặt lịch dễ dàng" />
        <h3>Đặt lịch dễ dàng</h3>
        <p>
          Không cần trực tiếp, không cần gọi điện hẹn trước, bạn có thể đặt sân
          chỉ với vài thao tác đơn giản
        </p>
      </div>
      <div class="benefit-item-3">
        <img src="/images/iconCarrier.png" alt="Tổ chức giải đấu" />
        <h3>Tổ chức giải đấu</h3>
        <p>
          Tìm đối thủ, kết nối, giao lưu các đội và thể dục thể thao thông qua
          những giải đấu hoàn tráng
        </p>
      </div>
    </section>

    <section id="promotion-section">
      <div class="promotion-header">
        <h2>Ưu đãi</h2>
        <p>Khám phá các khuyến mãi đặc biệt dành riêng cho bạn!</p>
      </div>
      <div class="promotion-cards">
        <div class="promotion-card">
          <img src="https://placehold.co/580x350" alt="Promotion Image 1" />
          <div class="promotion-info">
            <button class="book-now-btn">Đặt sân ngay</button>
          </div>
        </div>

        <div class="promotion-card">
          <img src="https://placehold.co/580x350" alt="Promotion Image 2" />
          <div class="promotion-info">
            <button class="book-now-btn">Đặt sân ngay</button>
          </div>
        </div>

        <div class="promotion-card">
          <img src="https://placehold.co/580x350" alt="Promotion Image 3" />
          <div class="promotion-info">
            <button class="book-now-btn">Đặt sân ngay</button>
          </div>
        </div>
      </div>
    </section>

    <section id="tournament-section">
      <div class="tournament-header">
        <h2 class="tournament-header-h2">Các giải đấu đang diễn ra</h2>
        <p class="tournament-header-p">
          Tham gia tranh tài trong các giải đấu hấp dẫn
        </p>
      </div>
      <div class="tournament-slider">
        <button class="nav-btn left-btn">&#10094;</button>

        <div class="tournament-content">
          <div class="tournament-image">
            <img src="https://placehold.co/1050x450" alt="Tournament Image" />
          </div>

          <div class="tournament-info">
            <div class="tournament-header-info">
              <h2>Giải đấu cup tứ hùng</h2>
              <p class="status">Đang diễn ra</p>
              <p>
                Giải đấu do trường đại học UIT tổ chức nhằm tạo sân chơi cho các
                bạn sinh viên có niềm đam mê với bộ môn bóng đá
              </p>
            </div>
            <div class="info-detail">
              <p><img src="/images/components/team.png" class="icon" alt="team icon"> 12 team</p>
              <p><img src="/images/components/location.png" class="icon" alt="location icon"> Sân bóng đá A</p>
              <p><img src="/images/components/calendar.png" class="icon" alt="calendar icon"> 06/12/2024 ~ 20/12/2024</p>
              <p><img src="/images/components/dolacoin.png" class="icon" alt="coin icon"> 80k / người</p>
            </div>
            <button class="register-btn">Đăng ký ngay</button>
          </div>
        </div>

        <button class="nav-btn right-btn">&#10095;</button>
      </div>
    </section>

    <section id="suggestions-section">
        <div class="suggestions-container">
            <div class="suggestions-header">
                <h2>Đề xuất cho bạn</h2>
                <p>Các sân được đánh giá cao nhất gần đây</p>
            </div>

            <div class="sports-filter">
                <button data-type="all"><i class="fas fa-ellipsis-h"></i> Tất cả</button>
                <button data-type="Bóng đá"><i class="fas fa-futbol"></i> Bóng đá</button>
                <button data-type="Bóng rổ"><i class="fas fa-basketball-ball"></i> Bóng rổ</button>
                <button data-type="Cầu lông"><i class="fas fa-bullseye"></i> Cầu lông</button>
                <button data-type="Bóng bàn"><i class="fas fa-table-tennis"></i> Bóng bàn</button>
                <button data-type="Pickleball"><i class="fas fa-ellipsis-h"></i> Pickleball</button>
            </div>
        </div>
      </div>

      <div class="suggestions-slider">
        <button class="nav-btn left-btn">&#10094;</button>
        <div class="suggestions-wrapper">
            <div class="suggestions-content">
            </div>
        </div>
        <button class="nav-btn right-btn">&#10095;</button>
      </div>
    </section>

    <div id="footer-placeholder"></div>
</body>
</html>
