<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Danh sách sân | SportSpot</title>
  <link rel="icon" type="image/x-icon" href="images/logo.png">
  <link rel="stylesheet" href="/styles/pages/tournament.css">
  <link href="https://fonts.googleapis.com/css2?family=CrimsonPro:wght@700&display=swap" rel="stylesheet">
  <script defer src="/scripts/components/header.js"></script>

</head>

<body>
  <div id="header-placeholder"></div>
  <div class="breadcrumb">
    <a href="/">Trang chủ</a> > <span>Giải đấu</span>
  </div>

  <div class="image-container">
    <img src="/images/homepage/soccer-field.png" alt="Soccer Field" />
    <div class="title-container">
      <div class="tieu-de">
        <span class="sport">Hệ thống giải đấu
          <span class="league">League</span>Spot
        </span>

      </div>
      <div class="mota">
        Nơi hội tụ các anh tài bốn phương tại các giải đấu đỉnh cao!
      </div>
      <div class="search-tournament-bar">
        <input type="text" placeholder="Nhập để tìm kiếm giải đấu" />
        <button type="submit">
          <img src="/images/tournament/search-icon-white.png" alt="Search" />
        </button>
      </div>
    </div>
  </div>

  <main>
    <section class="suggestions-section">
      <div class="suggestions-container">
        <div class="suggestions-header">
          <h2>Giải đấu đang diễn ra</h2>
          <p>Tham gia ngay!</p>
        </div>

        <div class="sports-filter">
          <button data-type="all"><i class="fas fa-ellipsis-h"></i> Tất cả</button>
          <button data-type="Bóng đá"><i class="fas fa-futbol"></i> Bóng đá</button>
          <button data-type="Bóng rổ"><i class="fas fa-basketball-ball"></i> Bóng rổ</button>
          <button data-type="Cầu lông">
            <img src="https://static-00.iconduck.com/assets.00/badminton-icon-2048x2047-puwatu1d.png"
              style="width: 16px; height: 16px; vertical-align: middle; margin-right: 5px;">
            Cầu lông
          </button>
          <button data-type="Bóng bàn"><i class="fas fa-table-tennis"></i> Bóng bàn</button>
          <button data-type="Pickleball"><i class="fas fa-table-tennis"></i> Pickleball</button>
        </div>
      </div>
      </div>

      <div class="suggestions-slider">
        <button class="nav-btn left-btn">&#10094;</button>
        <div class="suggestions-wrapper">
          <div class="suggestions-content">
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đang diễn ra</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div>
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đang diễn ra</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div>
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đang diễn ra</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div>
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đang diễn ra</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div>
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đang diễn ra</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div>
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đang diễn ra</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="nav-btn right-btn">&#10095;</button>
      </div>
    </section>
    <section class="suggestions-section">
      <div class="suggestions-container">
        <div class="suggestions-header">
          <h2>Giải đấu kết thúc gần đây</h2>
          <p>Tham gia ngay!</p>
        </div>

        <div class="sports-filter">
          <button data-type="all"><i class="fas fa-ellipsis-h"></i> Tất cả</button>
          <button data-type="Bóng đá"><i class="fas fa-futbol"></i> Bóng đá</button>
          <button data-type="Bóng rổ"><i class="fas fa-basketball-ball"></i> Bóng rổ</button>
          <button data-type="Cầu lông">
            <img src="https://static-00.iconduck.com/assets.00/badminton-icon-2048x2047-puwatu1d.png"
              style="width: 16px; height: 16px; vertical-align: middle; margin-right: 5px;">
            Cầu lông
          </button>
          <button data-type="Bóng bàn"><i class="fas fa-table-tennis"></i> Bóng bàn</button>
          <button data-type="Pickleball"><i class="fas fa-table-tennis"></i> Pickleball</button>
        </div>
      </div>
      </div>

      <div class="suggestions-slider">
        <button class="nav-btn left-btn">&#10094;</button>
        <div class="suggestions-wrapper">
          <div class="suggestions-content">
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đã kết thúc</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div> 
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đã kết thúc</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div> 
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đã kết thúc</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div>   
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đã kết thúc</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div> 
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đã kết thúc</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div> 
            <div class="item-container">
              <div class="item-image">
                <div class="field-image">
                  <img src="/images/court/soccer.png">
                </div>
              </div>
              <div class="item-content">
                <div class="item-title">
                  <h3>Cup tứ hùng</h3>
                </div>
                <div class="item-status">
                  <span class="status">Đã kết thúc</span>
                </div>
                <div class="item-description">
                  <span class="no-people">
                    <i class="fa-solid fa-user-group"></i> 8
                  </span>
                  <span class="location">
                    <i class="fa-solid fa-location-arrow"></i> Sân bóng đá A
                  </span>
                  <span class="sport-type">
                    <i class="fas fa-futbol"></i> Bóng đá
                  </span>
                </div>
              </div>
            </div>            
          </div>
        </div>
        <button class="nav-btn right-btn">&#10095;</button>
      </div>
    </section>
  </main>



  <div id="footer-placeholder"></div>
</body>

</html>